/* .switchButton {
  display: inline-block;
  position: relative;
  width: 60px;
  height: 34px;
}

@media (max-width: 767px) {
  .switchButton {
    width: 50px;
    height: 28px;
  } 
}

@media (max-width: 565px) {
  .switchButton {
    width: 40px;
    height: 24px;
  } 
}

.switch_input {
  height: 0;
  width: 0;
  opacity: 0;
}

.switch_slaider {
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  border-radius: 34px;
  border: 2px solid var(--yellow-color);
  background-color: var(--medium-gray);
}

.active {
  transition: transform 0.7s ease, opacity 0.7s ease;
}
.inactive {
  transition: transform 0.7s ease, opacity 0.7s ease;
}

.switch_slaider::before {
  content: '';
  position: absolute;
  cursor: pointer;
  left: 3px;
  bottom: 4px;
  height: 23px;
  width: 23px;
  border-radius: 50%;
  border: 2px solid var(--yellow-color);
  background-color: #fff;
  transition: transform 0.5s ease;
}

@media (max-width: 767px) {
  .switch_slaider::before {
    left: 2px;
    bottom: 2px;
    height: 20px;
    width: 20px;
  } 
}

@media (max-width: 565px) {
  .switch_slaider::before {
    left: 2px;
    bottom: 2px;
    height: 16px;
    width: 16px;
  } 
}

.switch_input:focus + .switch_slaider {
  box-shadow: 0 0 1px #666;
}

.switch_input:checked + .switch_slaider {
  background-color: var(--border-color);
}

.switch_input:checked + .switch_slaider::before {
  transform: translateX(26px);
}

@media (max-width: 767px) {
  .switch_input:checked + .switch_slaider::before {
    transform: translateX(20px);
  } 
}

@media (max-width: 565px) {
  .switch_input:checked + .switch_slaider::before {
    transform: translateX(15px);
  } 
} */


.switch {
  width: 60px;
  height: 34px;
  background-color: var(--border-color);
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center;
  border-radius: 50px;
  padding: 4px;
  cursor: pointer;
  border: 2px solid var(--yellow-color);
}

.switch[data-isOn="true"] {
  justify-content: flex-end;
  background-color: var(--medium-gray);
}

.handle {
  width: 23px;
  height: 23px;
  background-color: white;
  border-radius: 40px;
  border: 2px solid var(--yellow-color);
}

@media (max-width: 767px) {
  .switch {
    width: 50px;
    height: 28px;
  }
  .handle {
    width: 20px;
    height: 20px;
  }
}

@media (max-width: 565px) {
  .switch {
    width: 40px;
    height: 24px;
  }
  .handle {
    width: 16px;
    height: 16px;
  } 
}