
.detail {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    margin: 80px 120px 0 120px;
}

.image {
    width: 100%;
}

.smallText {
    font: 400 25px/40px "Old+Standard+TT";
    color: var(--core-dark-color);
    margin-bottom: 40px;
}

.smallText.light {
    color: var(--core-light-color);
}

.mainText {
    font: 400 50px/60px "Old+Standard+TT";
    color: var(--yellow-color);
    margin: 40px 0 60px 0;
}

.mainText.light {
    color: var(--core-light-color);
}