/*media*/
$phones-mini: 320px;
$phones: 400px;
$phones-big: 565px;
$tablets: 767px;
$tablets-big: 991px;
$desktop: 1200px;
$full-hd: 1440px;

/*color*/

$background-color: #181511;
$yellow: #ffae2b;
$gray: #aca592;
$white: #ffffff;
$light-brown: #4b4136;
$pistachio: #00ffc8;
$light-grin: #c9ea81;
$dark-green: #786740;
$box-shadow-inset: inset 0 4px 5px -4px #a57e7e9f,
  inset 0 -31px 34px -32px #927676d4, inset 0 39px 50px -34px #927676d4,
  inset 0 2px 9px #927676d4, inset 0 1px 10px #927676d4;
$box-shadow-inset-hover: /*inset 0 19px 28px -18px rgba(255, 255, 255, 0.5),*/ inset
    0 4px 5px -4px #ffffff,
  inset 0 -31px 34px -32px #7e4d9440, inset 0 39px 50px -34px #dd93ff40,
  inset 0 2px 9px #7270a451, inset 0 1px 10px #dee4fe47;
/*Font*/

$old-Standard: "Old+Standard+TT";
