.wraper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.main-image {
  overflow-x: hidden;
  @include flex-centr-column;
  height: 602px;
  background: url("../img/title-image.jpg") center center/cover no-repeat;
  &_small-title-text {
    font: 400 12px/22px $old-Standard;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: $yellow;
    text-align: center;
    padding-bottom: 15px;
  }
  &_title-text {
    font: 400 70px/80px $old-Standard;
    letter-spacing: 1px;
    color: $white;
    text-align: center;
    padding-bottom: 35px;
    @media (max-width: $phones-big) {
      font: 300 35px/40px $old-Standard;
    }
  }
  &_link-layout {
    display: flex;
    align-items: center;
    justify-content: center;
    font: 400 11px/22px $old-Standard;
    color: $background-color;
    box-sizing: border-box;
    width: 143px;
    height: 50px;
    background: $yellow;
    border: 1px solid $yellow;
    @include border-radius(5px);
    @include transition(0.4s);
    &:hover {
      border: 1px solid $pistachio;
      color: $pistachio;
      background: $dark-green;
    }
    @media (max-width: $phones-big) {
      width: 110px;
      height: 40px;
    }
  }
}

.example-layouts {
  @include flex-centr-column;
  &_core {
    letter-spacing: 2px;
    text-transform: uppercase;
    font: 400 12px/22px $old-Standard;
    color: $gray;
    margin: 120px 0 10px 0;
    @media (max-width: $phones) {
      margin: 60px 0 10px 0;
    }
    @media (max-width: $phones-mini) {
      margin: 35px 0 10px 0;
    }
  }
  &_container {
    margin: 0 60px 70px 60px;
    @media (max-width: $phones-big) {
      margin: 0 30px 70px 30px;
    }
    @media (max-width: $phones-mini) {
      margin: 40px 15px;
    }
  }
  &_wraper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    @media (max-width: $tablets) {
      @include flex-grid(25px, 15px, 180px);
    }
    @media (max-width: $phones) {
      @include flex-grid(25px, 15px, 160px);
    }
    @media (max-width: $phones-mini) {
      @include flex-grid(15px, 10px, 130px);
    }
  }
}

.big-yellow-text {
  font: 400 50px/60px $old-Standard;
  color: $yellow;
  margin-bottom: 60px;
  @media (max-width: $phones) {
    font: 300 30px/40px $old-Standard;
  }
  @media (max-width: $phones-mini) {
    margin-bottom: 35px;
  }
}

.bottom-block {
  @include flex-centr-column;
  text-align: center;
  height: 461px;
  background: url("../img/bottom-image.jpg") center center/cover no-repeat;
}

.our-services {
  @include flex-centr-column;
  &_items {
    border: 1px solid $light-brown;
    img {
      width: 40px;
      height: 40px;
    }
  }
  &_container {
    margin: 0 120px 115px 120px;
    @media (max-width: $tablets-big) {
      margin: 0 60px 70px 60px;
    }
    @media (max-width: $tablets) {
      margin: 0 30px 70px 30px;
    }
  }
  &_wraper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    @media (max-width: $tablets) {
      grid-template-columns: repeat(1, 1fr);
    }
    /*@media (max-width: $phones-big) {
      grid-template-columns: repeat(1, 1fr);
    }*/
  }
  &_yellow-text {
    font: 400 24px/34px $old-Standard;
    color: $yellow;
    padding: 20px 0 10px 61px;
  }
  &_gray-text {
    font: 400 15px/26px $old-Standard;
    color: $gray;
    padding: 0 0 5px 61px;
  }
  &_gray-small-text {
    font: 400 11px/26px $old-Standard;
    color: $gray;
    padding: 0 117px 76px 61px;
  }
  &_vector-img {
    margin: 60px 0 0 61px;
  }
  &_vector-img2 {
    position: relative;
    left: -45px;
    top: 20px;
  }
  &_vector-img3 {
    position: relative;
    left: -30px;
    top: 9px;
  }
}

.follow-social {
  @include flex-centr-column;
  &_items {
    border-top: 1px solid $light-brown;
    border-bottom: 1px solid $light-brown;
    padding-bottom: 20px;
    &_vector-img {
      position: relative;
      width: 45px;
      height: 45px;
      top: 20px;
      left: 30%;
    }
    &_follow-me {
      @media (max-width: $tablets) {
        padding: 0;
        border: none;
        text-align: center;
        grid-column: 1 / 3;
        grid-row: 3 / 2;
        border-bottom: 1px solid $light-brown;
      }
      @media (max-width: $phones-big) {
        border-bottom: 0;
      }
      @media (max-width: $phones) {
        border-bottom: 1px solid $light-brown;
      }
      @media (max-width: $phones-mini) {
        border-bottom: 0;
      }
    }
    &_last {
      border-top: 1px solid $light-brown;
      border-bottom: 1px solid $light-brown;
      @media (max-width: $tablets) {
        border-top: 0;
        border-bottom: 1px solid $light-brown;
      }
      @media (max-width: $phones-big) {
        border-top: 1px solid $light-brown;
        border-bottom: 1px solid $light-brown;
      }
      @media (max-width: $phones) {
        border-top: 0;
        border-bottom: 1px solid $light-brown;
      }
      @media (max-width: $phones-mini) {
        border-top: 1px solid $light-brown;
      }
    }
  }
  &_wraper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: 0 120px 125px 120px;
    font: 400 15px/35px $old-Standard;

    @media (max-width: $tablets-big) {
      margin: 0 60px 70px 60px;
    }
    @media (max-width: $tablets) {
      @include flex-grid(15px, 0, 200px);
    }
    @media (max-width: $phones-big) {
      margin: 0 30px 70px 30px;
    }
    @media (max-width: $phones) {
      @include flex-grid(40px, 0px, 100px);
    }
  }
  &_yellow-text {
    font: 400 40px/50px $old-Standard;
    color: $yellow;
    padding: 61px 50px 40px 50px;
    @media (max-width: $tablets-big) {
      padding: 45px 50px 40px 50px;
    }
    @media (max-width: $tablets) {
      padding-top: 80px;
    }
    @media (max-width: $phones-big) {
      padding-top: 20px;
    }
    @media (max-width: $phones) {
      font: 300 30px/35px $old-Standard;
    }
  }
  &_soc-img {
    width: 100%;
  }
  &_link-insta {
    display: flex;
    align-items: center;
    justify-content: center;
    font: 400 15px/35px $old-Standard;
    color: $background-color;
    box-sizing: border-box;
    width: 143px;
    height: 50px;
    margin-left: 45px;
    background: $yellow;
    border: 1px solid $yellow;
    @include border-radius(5px);
    @include transition(0.4s);
    &:hover {
      border: 1px solid $pistachio;
      color: $pistachio;
      background: $dark-green;
    }
    @media (max-width: $phones-big) {
      margin-bottom: 40px;
    }
    @media (max-width: $tablets) {
      display: inline-block;
      margin: 0;
      padding-top: 4px;
    }
    @media (max-width: $phones) {
      width: 120px;
      height: 45px;
    }
  }
}

.subscribe-block {
  @include flex-centr-column;
  text-align: center;
  &_big-yellow-text {
    font: 400 60px/70px $old-Standard;
    color: $yellow;
    margin-bottom: 20px;
    @media (max-width: $tablets) {
      font: 300 40px/50px $old-Standard;
    }
  }
  &_some-text {
    font: 400 12px/28px $old-Standard;
    color: $gray;
    margin-bottom: 82px;
    @media (max-width: $tablets) {
      margin: 0 30px 50px 30px;
    }
  }
  &_explanation-button {
    margin-bottom: 20px;
    font: 400 14px/20px $old-Standard;
    color: $gray;
    @media (max-width: $tablets) {
      margin: 30px;
    }
  }
}
.subscribe {
  @include flex-centr-column;
  width: 40%;
  margin-bottom: 30px;
  @media (max-width: $tablets-big) {
    width: 60%;
  }
  @media (max-width: $tablets) {
    width: 75%;
    margin-bottom: 0;
  }
  @media (max-width: $phones) {
  }
  input {
    width: 100%;
    height: 53px;
    padding: 20px;
    @include box-sizing(border-box);
    @include border-top-radius(5px);
    border: 1px solid $light-brown;
    background-color: $white;
    &:hover {
      border: 1px solid $yellow;
    }
    &:focus {
      background-color: $pistachio;
    }
  }
  &_button {
    width: 100%;
    height: 53px;
    background: $yellow;
    font: 400 18px/25px $old-Standard;
    color: $background-color;
    @include box-sizing(border-box);
    @include border-bottom-radius(5px);
    &:hover {
      border: 2px solid $pistachio;
      color: $pistachio;
      background: $dark-green;
    }
  }
}
.soc-ref {
  @include flex-centr-row;
  margin-bottom: 40px;
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border: 1px solid $light-brown;
    width: 48px;
    height: 48px;
    margin-left: 10px;
    @include transition(0.1s);
    &:hover {
      border: 3px solid $light-brown;
    }
    @media (max-width: $phones-big) {
      width: 35px;
      height: 35px;
    }
  }
}
