
.error_page_container {
    height: 100%;
    width: 100%;
}

.error_page {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 80px 0 56px 0;
    color: red;
    font: var(--old-standart-45-65);
}
.first_error_massage {
    margin-top: 25px;
    font: var(--old-standart-45-65);
}
.error_massage {
    font: var(--old-standart-45-65);
}
@media (max-width: 565px) {
    .error_massage {
        font: var(--old-standart-22-28);
    }
    .first_error_massage {
        font: var(--old-standart-25-35);
    }
    .error_page {
        margin-top: 60px;
    }
}

