
.error_page_container {
    height: 100%;
    width: 100%;
}

.error_page {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 10% 0 10% 0;
    color: red;
    font: var(--old-standart-45-65);
}
/* .error_page h1 {
    color: var(--red);
} */

.error_massage {
    /* color: var(--white); */
    font: var(--old-standart-45-65);
}

/* .error_massage.light {
    color: var(--core-light-color);
} */

/* додати медіа*/