
.ourServices_items {
  border: 1px solid #4b4136;
}
.ourServices_items img {
  width: 40px;
  height: 40px;
}
.ourServices_yellowTextLight,
.ourServices_yellowTextDark {
  font: var(--old-standart-24-34);
  padding: 20px 0 10px 61px;
}
.ourServices_yellowTextLight {
  color: var(--core-light-color);
}
.ourServices_yellowTextDark {
  color: var(--yellow-color);
}
.ourServices_grayTextLight,
.ourServices_grayTextDark {
  font: var(--old-standart-15-26);
  padding: 0 0 5px 61px;
}
.ourServices_grayTextLight {
  color: var(--core-light-color);
}
.ourServices_grayTextDark {
  color: var(--core-dark-color);
}
.ourServices_graySmallTextLight,
.ourServices_graySmallTextDark {
  font: var(--old-standart-12-26);
  padding: 0 117px 76px 61px;
}
.ourServices_graySmallTextLight {
  color: var(--core-light-color);
}
.ourServices_graySmallTextDark {
  color: var(--core-dark-color);
}
