
.weatherForm {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    width: 20%;
}

@media (max-width: 565px) {
  .weatherForm {
    width: 24%;
  } 
}

@media (max-width: 400px) {
  .weatherForm {
    width: 35%;
  } 
}

@media (max-width: 320px) {
  .weatherForm {
    width: 43%;
  } 
}

.formWrapper {
    margin: 0 0 30px 120px;
}

@media (max-width: 991px) {
  .formWrapper {
    margin: 0 0 30px 60px;
  }
}
@media (max-width: 565px) {
  .formWrapper {
    margin: 0 0 20px 30px;
  }
}

.weatherImg {
    width: 100px; 
    height: 75px;
    margin-bottom: 15px;
}

.weatherForm input {
    width: 100%;
    height: 40px;
    padding: 20px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border: 1px solid var(--border-color);
    background-color: var(--white);
}
.weatherForm input:hover {
    border: 1px solid var(--yellow-color);
}
.weatherForm input:focus {
    background-color: var(--green);
}
.weatherForm_button {
    width: 100%;
    height: 40px;
    background: var(--yellow-color);
    font: 400 18px/25px "Old+Standard+TT";
    color: var(--main-bg-color);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
.weatherForm_button:hover {
    border: 2px solid var(--green);
    color: var(--green);
    background: var(--weather-bg-color);
}