
.weatherResultDark,
.weatherResultLight {
    font: var(--old-standart-18-25);
    margin: 0 0 30px 120px;
}

.weatherResultDark {
    color: var(--weather-result)
}

.weatherResultLight {
    color: var(--core-light-color);
}

@media (max-width: 991px) {
  .weatherResult {
    margin: 0 0 30px 60px;
  }
}
@media (max-width: 565px) {
  .weatherResult {
    margin: 0 0 20px 30px;
  }
}