header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  background-color: var(--header-bg-color);
  top: 0;
  z-index: 5;
  border-collapse: collapse;
  border-bottom: 1px solid var(--core-dark-color);
  backdrop-filter: blur(10px);
}
@media (max-width: 565px) {
  header {
    height: 65px;
  }
}

ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  max-width: 100%;
}

.transparent_header_logo {
  font: var(--old-standart-22-28);
  margin-left: 120px;
  color: var(--yellow-color);
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
}
.transparent_header_logo:hover {
  color: var(--green);
}
.transparent_header_overview {
  font: var(--old-standart-11-24);
  margin-left: 42px;
  margin-right: 28px;
  color: var(--yellow-color);
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
}
.transparent_header_overview:hover {
  color: var(--green);
}
.transparent_header_other {
  font: var(--old-standart-11-22);
  margin-right: 40px;
  color: var(--core-dark-color);
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
}
.transparent_header_other:hover {
  color: var(--green);
}
.transparent_header_buyTemplate {
  display: flex;
  align-items: center;
  justify-content: center;
  font: var(--old-standart-11-22);
  color: var(--yellow-color);
  margin-right: -15px;
  box-sizing: border-box;
  width: 147px;
  height: 52px;
  border: 1px solid var(--yellow-color);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
}
.transparent_header_buyTemplate:hover {
  border: 2px solid var(--green);
  color: var(--green);
}

@media (max-width: 1200px) {
  .transparent_header_buyTemplate {
    position: relative;
    margin-right: 1%;
  }
  .transparent_header_other {
    margin-right: 20px;
  }
  .themeMode {
    margin-right: 1%;
  }
}
@media (max-width: 991px) {
  .transparent_header_logo {
    margin: 0;
  }
  .transparent_header_overview {
    margin: 0;
  }
  .transparent_header_other {
    margin: 0;
  }
  .transparent_header_buyTemplate {
    position: relative;
    margin-right: -1%;
  }
}
@media (max-width: 767px) {
  .transparent_header_buyTemplate {
    margin-right: 1%;
  }
}
@media (max-width: 565px) {
  .transparent_header_buyTemplate {
    margin-right: 1%;
    width: 75px;
    height: 35px;
  }
}
@media (max-width: 400px) {
  .transparent_header_buyTemplate {
    margin-right: 30px;
    width: 90px;
    height: 30px;
  }
}
@media (max-width: 320px) {
  .transparent_header_buyTemplate {
    margin-right: 15px;
  }
}

@media (max-width: 991px) {
  .navBar {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--header-bg-color);
    top: 0;
    right: 100%;
    height: 100vh;
    width: 200px;
    -webkit-transition: position 2.9s;
    -moz-transition: position 2.9s;
    -ms-transition: position 2.9s;
    -o-transition: position 2.9s;
  }
}
@media (max-width: 991px) and (max-width: 565px) {
  .navBar {
    width: 140px;
  }
}
@media (max-width: 991px) {
  .toggle {
    left: 0;
    box-shadow: 1px 0 15px 2px var(--box-shadow);
  }
}
@media (max-width: 991px) {
  .toggleMenu {
    background-color: var(--toggle-menu-bg);
    position: fixed;
    top: 20px;
    left: 60px;
    width: 40px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2px 2px 2px 3px;
    border-radius: 5px;
    border: 1px solid var(--yellow-color);
    cursor: pointer;
  }
}
@media (max-width: 991px) and (max-width: 565px) {
  .toggleMenu {
    top: 15px;
    left: 30px;
  }
}
@media (max-width: 991px) and (max-width: 320px) {
  .toggleMenu {
    left: 15px;
  }
}
@media (max-width: 991px) {
  .line {
    width: 100%;
    height: 1.5px;
    border-radius: 5px;
    background-color: var(--yellow-color);
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    transition: 0.4s;
  }
}
@media (max-width: 991px) {
  .toggle .line1 {
    background-color: var(--yellow-color);
    transform: scale(0.9) rotateZ(-45deg) translate(-6px, 4px);
  }
}
@media (max-width: 991px) {
  .toggle .line2 {
    display: none;
  }
}
@media (max-width: 991px) {
  .toggle .line3 {
    background-color: var(--yellow-color);
    transform: scale(0.9) rotateZ(45deg) translate(-6px, -4px);
  }
}
@media (max-width: 991px) {
  .toggle .toggleMenu {
    background-color: var(--toggle-menu-bg);
  }
}
@media (max-width: 991px) {
  ul {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    max-width: 100%;
  }
}
@media (max-width: 991px) {
  li {
    padding: 10px 0;
  }
}
@media (max-width: 991px) {
  a::before {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: var(--core-light-color);
    transform: scaleX(0);
    -webkit-transition: 0.4s ease-in-out;
    -moz-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
  }
  a:hover::before {
    transform: scaleX(1);
  }
}

.themeMode {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 13%;
}
@media (max-width: 991px) {
  .themeMode {
    margin-left: 55%;
  } 
}

@media (max-width: 767px) {
  .themeMode {
    margin-left: 45%;
  } 
}

@media (max-width: 565px) {
  .themeMode {
    margin-left: 40%;
  } 
}

@media (max-width: 320px) {
  .themeMode {
    margin-left: 30%;
  } 
}

.switch_input {
  display: none;
}

.switch_input {
  display: flex;
  align-items: center;
  width: 60px;
  height: 34px;
}

.switch_input::before {
  content: "";
  width: 60px;
  height: 34px;
  border-radius: 34px;
  background-color: #675757;
}

.switchLabel {
  font: var(--old-standart-12-20);
  color: var(--yellow-color);
  margin-right: 20px;
}

@media (max-width: 767px) {
  .switchLabel {
    margin-right: 5px;
  } 
}
@media (max-width: 400px) {
  .switchLabel {
    display: none;
  } 
}

.leng {
  font: var(--old-standart-12-20);
  color: var(--core-light-color);
  background-color: var(--yellow-color);
  border-radius: 11px;
  margin-right: 120px;
  width: 24px;
  height: 24px;
}
@media (max-width: 991px) {
  .leng {
    margin-right: 65px;
  }
}
@media (max-width: 565px) {
  .leng {
    margin-right: 30px;
  }
}