header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  background-color: var(--header-bg-color);
  top: 0;
  z-index: 5;
  border-collapse: collapse;
  border-bottom: 1px solid var(--core-dark-color);
  backdrop-filter: blur(10px);
}
@media (max-width: 565px) {
  header {
    height: 65px;
  }
}

.rightNav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  max-width: 100%;
}

.transparent_header_logo {
  font: var(--old-standart-22-28);
  margin-left: 120px;
  color: var(--yellow-color);
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
}
.transparent_header_logo:hover {
  color: var(--green);
}
.transparent_header_overview {
  font: var(--old-standart-11-24);
  margin-left: 42px;
  margin-right: 28px;
  color: var(--yellow-color);
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
}
.transparent_header_overview:hover {
  color: var(--green);
}
.transparent_header_other {
  font: var(--old-standart-11-22);
  margin-right: 40px;
  color: var(--core-dark-color);
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
}
.transparent_header_other:hover {
  color: var(--green);
}
.transparent_header_buyTemplate {
  display: flex;
  align-items: center;
  justify-content: center;
  font: var(--old-standart-11-22);
  color: var(--yellow-color);
  margin-right: 15px;
  box-sizing: border-box;
  width: 147px;
  height: 52px;
  border: 1px solid var(--yellow-color);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
}
.transparent_header_buyTemplate:hover {
  border: 2px solid var(--green);
  color: var(--green);
}

@media (max-width: 1200px) {
  .transparent_header_other {
    margin-right: 20px;
  }
}
@media (max-width: 991px) {
  .transparent_header_logo {
    margin: 0;
  }
  .transparent_header_overview {
    margin: 0;
  }
  .transparent_header_other {
    margin: 0;
  }
}

@media (max-width: 565px) {
  .transparent_header_buyTemplate {
    width: 85px;
    height: 35px;
  }
}
@media (max-width: 400px) {
  .transparent_header_buyTemplate {
    width: 90px;
    height: 30px;
  }
}
@media (max-width: 320px) {
  .transparent_header_buyTemplate {
    margin-right: 15px;
  }
}
.burgerContainer {
  display: none;
}
@media (max-width: 991px) {
  .burgerContainer {
    display: block;
    margin-left: 60px;
    background-color: transparent
  }
}

@media (max-width: 565px) {
  .burgerContainer {
    margin-left: 30px;
  }
}

.burgerButton {
  display: none;
}
.burgerButtonAlt {
  display: none;
}
@media (max-width: 991px) {
  .burgerButton {
    display: block;
    color: var(--yellow-color);
    cursor: pointer;
  }
  .burgerButtonAlt {
    display: block;
    color: var(--yellow-color);
    cursor: pointer;
  }
}


@media (max-width: 991px) {
  .navBar {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--header-bg-color);
    top: 0;
    height: 100vh;
    width: 170px;
    margin-top: 78px;
  }
}

@media (max-width: 991px) {
  .active {
    left: 0;
    transform: translateX(0%);
    opacity: 1;
    transition: transform 0.7s ease, opacity 0.7s ease;
  }
  .inactive {
    transform: translateX(-100%);
    opacity: 0;
    transition: transform 0.7s ease, opacity 0.7s ease;
  }
}

@media (max-width: 991px) and (max-width: 565px) {
  .navBar {
    margin-top: 63px;
    width: 140px;
  }
}

@media (max-width: 991px) {
  ul {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    max-width: 100%;
    margin-bottom: 80px;
  }
}
@media (max-width: 991px) {
  li {
    padding: 10px 0;
  }
}
@media (max-width: 991px) {
  a::before {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: var(--core-light-color);
    transform: scaleX(0);
    -webkit-transition: 0.4s ease-in-out;
    -moz-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
  }
  a:hover::before {
    transform: scaleX(1);
  }
}

.themeMode {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}

.switch_input {
  display: none;
}

.switch_input {
  display: flex;
  align-items: center;
  width: 60px;
  height: 34px;
}

.switch_input::before {
  content: "";
  width: 60px;
  height: 34px;
  border-radius: 34px;
  background-color: #675757;
}

.switchLabel {
  font: var(--old-standart-12-20);
  color: var(--yellow-color);
  margin-right: 20px;
}

@media (max-width: 767px) {
  .switchLabel {
    margin-right: 5px;
  }
}
@media (max-width: 400px) {
  .switchLabel {
    display: none;
  }
}

.leng {
  font: var(--old-standart-12-20);
  color: var(--core-light-color);
  background-color: var(--yellow-color);
  border-radius: 11px;
  margin-right: 120px;
  width: 24px;
  height: 24px;
}
@media (max-width: 991px) {
  .leng {
    margin-right: 65px;
  }
}
@media (max-width: 565px) {
  .leng {
    margin-right: 30px;
  }
}