
/* Стилі макетів */
.exampleLayouts {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

.exampleLayouts_core {
  letter-spacing: 2px;
  text-transform: uppercase;
  font: var(--old-standart-12-22);
  margin: 120px 0 10px 0;
  color: var(--core-dark-color);
}

.exampleLayouts_core.light {
  color: var(--core-light-color);
}

@media (max-width: 400px) {
  .exampleLayouts_core {
    margin: 60px 0 10px 0;
  }
}

@media (max-width: 320px) {
  .exampleLayouts_core {
    margin: 35px 0 10px 0;
  }
}

/* Стилі текстів */
.bigYellowText {
  font: var(--text-font);
  margin-bottom: 60px;
  color: var(--yellow-color);
}

.bigYellowText.light {
  color: var(--core-light-color);
}

@media (max-width: 400px) {
  .bigYellowText.light,
  .bigYellowText {
    font: var(--old-standart-30-40);
  }
}

@media (max-width: 320px) {
  .bigYellowText.light,
  .bigYellowText {
    margin-bottom: 35px;
  }
}