
.footerDark,
.footerLight {
  border-top: 1px solid var(--border-color);
  margin: 0 120px;
}

@media (max-width: 991px) {
  .footer {
    margin: 0 60px;
  }
}

@media (max-width: 565px) {
  .footer {
    margin: 0 30px;
  }
}

@media (max-width: 320px) {
  .footer {
    margin: 0 15px;
  }
}

.footerDark a,
.footerLight a {
  font: var(--old-standart-12-30);
  margin-left: 5px;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
}

.footerDark a {
  color: var(--yellow-color);
}

.footerDark a:hover {
  color: var(--green);
}

.footerLight a {
  color: var(--core-light-color);
}

.footerLight a:hover {
  color: var(--yellow-color);
}

.footer_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  font: var(--old-standart-14-18);
  height: 80px;
}

.footer_grayTextDark,
.footer_grayTextLight {
  font: var(--old-standart-14-18);
  color: var(--core-dark-color);
}

.footer_grayTextLight {
  color: var(--core-light-color);
}

.footer_powered {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

.footer_rightRefBorder {
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  padding: 0 5px;
}